*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.main{
    background-image: url(assets/img/bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 95vh;
    position: relative;
    max-width: max(1200px,100vw);
}
.main .box{
    height: 95vh;
    width: 100%;
    opacity: 0.70;
    position: absolute;
    top: 0;
    background-color: black;
}
nav{
    display: flex;
    justify-content: space-between;
    max-width: 75vw;
    margin: auto;
    align-items: center;
    height: 62px;
    padding: 15px;
}
nav img{
    color: red;
    width: 144px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    height: calc(100% - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: sans-serif;
    gap: 21px;
    padding:0 30px;
    margin-bottom: 20px;
}
/* this is used for immediate child of the hero */
.hero> :first-child{  
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}
.hero> :nth-child(2){
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
.hero> :nth-child(3){
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
@media  screen and (max-width: 1101px) {
    .hero> :first-child{  
        font-size: 32px;
        font-weight: 500;
    }
    .hero> :nth-child(2){
        font-size: 18px;
    }
    .hero> :nth-child(3){
        font-size: 18px;
    }
    .btn-red-nav{
        font-size: 10px;
    }
    .btn-red-sm{
        font-size: 10px;
    }
}
.separation{
    height: 8px;
    background-color: gray;
    opacity: .9;
    z-index: 20;
}
.btn{
    font-weight: bold;
    background-color: white;

}
.email{
    display: flex;
    gap: 10px;
    flex-direction: row;
}
.btn-red{
    padding: 0px;
    margin: 0px;
    background-color: rgb(215, 28, 28);
    color: white;
    font-weight: 500;
    font-size: 24px;
    border-radius: 4px;
    width: 206px;
    height: 59px;
    margin-top: 3px;
    border: none;
}
.main input{
    color: white;
    padding-left: 10px;
    margin: 0px;
    height: 56px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    background-color: rgba(23, 23 , 23,0.2);
    width: 371px;
    align-self: center;
    border: 1px solid rgba(255, 255, 255, 0.539);
}
.button-nav{
    display: flex;
    gap: 20px;
}
.btn-red-sm{
    background-color: rgb(215, 28, 28);
    color: white;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    padding: 7px 15px;
    border-radius: 4px;
    border: none;
}
.btn-red-nav{
    display: flex;
    background-color: rgba(23, 23, 23, 0.535);
    color: white;
    font-weight: 400;
    font-size: 15px;
    border: 1px solid rgba(255, 255, 255, 0.531);
    border-radius: 3px;
    padding: 5px ;
    padding-right: 7px;
    padding-left: 7px;
    font-style: normal;
    cursor: pointer;
    gap: 20px;
}
.first{
    display: flex;
    gap: 150px;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
    padding-top: 100px;
}
@media screen and (max-width: 896px) {
    .first{
        flex-wrap: wrap;
    }
}
.first div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.sec-img{
    position:relative;
}
.sec-img img{
    width: 400px; 
    position: relative;
    z-index: 10;
}
.sec-img video{ 
    height: 225px;
    position: absolute;
    top: 47px;
    right: 0px;
}
.first .first_span{
    font-size: 48px;
    font-family: sans-serif;
    font-weight: 900;
    font-style: normal;
}
.first .second_span{
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 400px;
    font-style: normal;
}
.third .sec-img video{ 
    width: 242px;
    height: 150px;
    position: absolute;
    top: 24px;
    right: 83px;
}
.faq h2{
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    font-style: normal;
    font-family: sans-serif;
}
.faq {
    background-color: black;
    color: white;
    padding: 34px;
}
.faqbox:hover{
    background-color: #414141;
}
.faqbox{
    transition: all 1 ease-in-out;
    display: flex;
    background-color: rgb(45, 45, 45);
    padding: 24px;
    width: 100%;
    max-width: 70vw;
    margin: auto;
    justify-content: space-between;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;

}
footer{
    color: white;
    margin: auto;
    max-width: 60vw;
    padding: 14px;
    
}
.question{
    color: #c1c1bb;
    padding: 34px 0;
}
.footer a{
    color: #c1c1bb;
    font-size: 14px;
    font-weight: 400;
    font-family: sans-serif;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}
@media screen and (max-width: 897px){
    .footer{
        grid-template-columns: 1fr 1fr;
    }
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}
@media screen  and (max-width : 650px){
    .btn-red-nav{
        height: 50%;
    }
    .btn-red-sm{
        font-size: 10px;
        
        height: 50%;
    }
    nav :first-child{
         width: 89px;
    }
    nav :nth-child(2){
        width: 89px;
    }
    .email{
        flex-direction: column;
    }
    .text{
        size: 50%;
    }
    .main{
        height: 135vh;
        background-size: 173vh;
    }
    .btn-red{
        align-self: center;
    }
    .main .box{
        height: 127vh;
    }

}
@media screen  and (max-width: 375px){
    .main .box{
        height: 109vh;
    }
    
}
